* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
}
.banner-home {
    background-image: url('../images/banner-img.jpg');
    background-size: cover;
    padding-bottom: 40px;
}

.filler{
    height: 108px;
}

.banner-home .container {
    height: 100%;
    padding-top: 108px;
}

.book-description {
    padding-left: 160px;
    padding-right: 40px;
}

.book-image img {
    width: 280px;
}

hr.divider{
    border-top: 3px solid white;
    border-bottom: none;
    opacity: 1;
    width: 80px;
}
.divider {
    margin: 0;
}

hr.divider-dark{
    border-top: 3px solid rgb(36, 36, 36);
    border-bottom: none;
    opacity: 1;
    width: 80px;
}

hr.divider-center-dark{
    border-top: 3px solid rgb(36, 36, 36);
    border-bottom: none;
    opacity: 1;
    width: 100px;
    margin: auto;
}

.sm-icons{
    flex-direction: row!important;
    font-size: 1.2rem;
}
.sm-icons .nav-link{
    margin-right: 0.5rem;
}

.author{
    width:400px;
    margin: auto;
}

.about{
    padding-block: 70px;
}

.newsletter form{
    width: 600px;
    margin: auto;
}

.book img {
    width: 600px;
}

@media (max-width: 1200px) {
    .book img {
        width: 80vw;
        margin: auto;
        padding-bottom: 20px;
    }
    .book {
        text-align: center;
    }
    .book hr.divider-dark{
        width: 20%;
        margin: auto;
    }
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
    }
    .banner-home {
        height: 740px;
    }
    .banner-home .container {
        height: auto;
        padding-top: 130px;
    }
    .book-description {
        padding-left: 0;
        text-align: center!important;
        width: 100%;
        padding-right: 0;
    }
    .book-image {
        display: flex;
        justify-content: center;
    }
    .book-image img {
        width: 200px;
    }
    hr.divider{
        width: 50%;
        margin: auto;
    }
    hr.divider-dark{
        width: 20%;
        margin: auto;
    }
    .about .col-7{
        text-align: center;
        width: 100%;
    }
    .about .sm-icons{
        justify-content: center;
        padding-bottom: 10px;
    }
    .newsletter form{
        width: 100%;
    }
    
    
}