@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.navbar{
    width: 100%;
}

.banner-home {
    background-image: url('../images/banner-img.jpg');
    background-size: cover;
    padding-bottom: 60px;
    align-items: center;
}

.filler{
    height: 108px;
}

.banner-home .container {
    height: 100%;
    padding-top: 128px;
    min-height: 90vh;
}

.book-description {
    padding-left: 160px;
    padding-right: 40px;
}

.book-image img {
    width: 360px;
}

hr.divider{
    border-top: 3px solid white;
    border-bottom: none;
    opacity: 1;
    width: 60px;
}
.divider {
    margin: 0;
}

hr.divider-dark{
    border-top: 3px solid rgb(36, 36, 36);
    border-bottom: none;
    opacity: 1;
    width: 80px;
}

hr.divider-center-dark{
    border-top: 3px solid rgb(36, 36, 36);
    border-bottom: none;
    opacity: 1;
    width: 100px;
    margin: auto;
}

.sm-icons{
    flex-direction: row!important;
    font-size: 1.2rem;
}
.sm-icons .nav-link{
    margin-right: 0.5rem;
}

.author{
    width:400px;
    margin: auto;
}

.about{
    padding-block: 70px;
}

.newsletter form{
    width: 600px;
    margin: auto;
}

.book img {
    width: 600px;
}


.picture img{
    width: 360px;
    padding-bottom: 30px;
}

.back_home {
    --bs-btn-bg: rgb(56, 193, 114)!important;
    --bs-btn-border-color: rgb(56, 193, 114)!important;
}

.messages {
    transition: 0.5s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    pointer-events: none;
    position: fixed;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(79,79,79,0.8);
    -moz-box-shadow: 0px 5px 10px 0px rgba(79,79,79,0.8);
    box-shadow: 0px 5px 10px 0px rgba(79,79,79,0.8);
}
.messages ul{
    margin-bottom: 0;
    list-style: none;
}

.animate { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    animation-fill-mode: both; 
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fadeOut{
    from {
        opacity:1;
    } to {
        opacity:0;
    }
}
@keyframes fadeOut {
    from {
        opacity:1;
    } to {
        opacity:0;
    }
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeIn{
    from { 
        opacity:0;
    } to {
        opacity:1;
    }
}
@keyframes fadeIn {
    from { 
        opacity:0;
    } to {
        opacity:1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeLeft{
    from { 
        opacity:0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    } to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeLeft {
    from { 
        opacity:0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    } to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeLeft {
    -webkit-animation-name: fadeLeft;
    animation-name: fadeLeft;
}

@-webkit-keyframes fadeRight{
    from { 
        opacity:0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    } to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeRight {
    from { 
        opacity:0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    } to {
        opacity:1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeRight {
    -webkit-animation-name: fadeRight;
    animation-name: fadeRight;
}

@media (max-width: 1200px) {
    .book img {
        width: 80vw;
        margin: auto;
        padding-bottom: 20px;
    }
    .book{
        text-align: center;
    }
    .book hr.divider-dark{
        width: 20%;
        margin: auto;
    }
    .about .col-7{
        text-align: center;
        width: 100%;
    }
    .about .sm-icons{
        justify-content: center;
        padding-bottom: 10px;
    }
    .about hr.divider-dark{
        width: 20%;
        margin: auto;
    }
    .book-image img {
        width: 260px;
    }
}

@media (max-width: 991px) {
    a.affiliate_btn{
        margin-top: 16px;
    }
    .picture img{
        width: 260px;
        padding-bottom: 20px;
    }
    
    .author-desc{
        text-align: center!important;
    }

    .about-author .container{
        flex-direction: column;
    }
    .sidebar {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);
    }

    .banner-home .container {
        height: auto;
        padding-top: 130px;
    }
    .book-description {
        padding-left: 0;
        text-align: center!important;
        width: 100%;
        padding-right: 0;
    }
    .book-image {
        display: flex;
        justify-content: center;
    }
    .book-image img {
        width: 200px;
    }
    hr.divider{
        width: 20%;
        margin: auto;
    }
    hr.divider-dark{
        width: 20%;
        margin: auto;
    }
    
    .newsletter form{
        width: 100%;
    }
    img.author{
        width: 260px;
    }
    
}
@media (max-width: 300px) {
    img.author{
        width: 200px;
    }
}