{% extends "base.html" %}

{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}

<script src="https://kit.fontawesome.com/59e374730d.js" crossorigin="anonymous"></script>

<section class="banner-home text-light">
    <div class="container mx-auto row align-items-center">
        <div class="book-description col-7 animate fadeLeft">
            <a href="{% url 'book' 1 %}" style="color: white; text-decoration: none;"><h2 class="name h1">The Dreamer</h2></a>
            <hr class="divider pb-4">
            <p class="long-desc">In the surreal realm of <i>The Dreamer</i>, Salvador, a young man teetering on the brink of adulthood, grapples with the suffocating weight of societal expectations and familial obligations. But within the depths of his own mind, a yearning for liberation sparks an odyssey of universal proportions.</p>

            <a class="btn btn-light px-5 py-2 mb-5 mt-2 rounded-pill" href="{% url 'book' 1 %}" role="button" style="font-size:18px"><b>Buy Now</b></a>
        </div>
        <div class="book-image col px-3 tab-pane animate fadeRight">
            <a href="{% url 'book' 1 %}"><img src="{% static './images/Din - Front.png' %}" alt="book-cover"></a>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <h2 class='h2 text-center'>Become an affiliate</h2>
        <hr class="divider-center-dark pb-3">
        <p class="text-center">Love my book? Thanks. Don't care about it and just want to earn money and help others out? Also great. Join my <b style="color: red" >affiliate</b> program. <br> Help me promote it to people who are genuinely interested and receive 50% of every sale.</p>
        <br>
        <div class="row text-center mt-5 pr-4 pl-4">
            <div class="col">
                <i class="fa-solid fa-user-plus" style="color: #212529; font-size: 100px;"></i>
                <h5 class="h5 mt-4">Create an account</h5>
                <p>Create an account using the button <br> below and follow the steps</p>
            </div>
            <div class="col">
                <i class="fa-solid fa-link" style="color: #212529; font-size: 100px;"></i>
                <h5 class="h5 mt-4">Get your affiliate link</h5>
                <p>After creating your account, navigate <br> to the dashboard and copy your <br> affiliate link</p>
            </div>
            <div class="col">
                <i class="fa-solid fa-sack-dollar" style="color: #212529; font-size: 100px;"></i>
                <h5 class="h5 mt-4">Get 50% commission</h5>
                <p>Every time someone uses your link to <br> purchase our book, you get half <br> of the money</p>
            </div>
        </div>
        <br>
        <p class="text-center">P.S: I don't mind if you guys <b style="color: red" >pirate</b> it, but if you're going to share it around, you might as well make some money doing it. <br> By helping me, you can help yourselves.</p>
        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-dark px-5 py-2 mb-5 mt-2  rounded-pill" href="{% url 'signup' %}" role="button" style="font-size:18px"><b>Sign Up</b></a>
        </div>
    </div>
</section>

<section class="about-author bg-dark py-5 text-light">
    <div class="container mx-auto row align-items-center animate fadeIn">
        <div class="picture col d-flex">
            <img class="author" src="{% static './images/Din1.jpg' %}" alt="din cosic">
        </div>
        <div class="col author-desc">
            <h2 class="h2">Din Cosic</h2>
            <hr class="divider pb-4">
            <p>
                I'm a young dreamer and writer, born in Zenica, Bosnia and Herzegovina on June 18th, 2001, a couple of years after the Bosnian war.
                Growing up wasn't all smooth sailing either.
                I've always been drawn to storytelling, finding comfort in the escapist nature of movies, manga, and anime, especially when life got tough. 
            </p>
            <a class="btn btn-light px-5 py-2 mb-5 mt-2  rounded-pill" href="{% url 'about' %}" role="button" style="font-size:18px"><b>Learn More</b></a>
        </div>
    </div>
</section>

{% include "newsletter.html" %}

{% endblock body %}