{% extends "base.html" %}

{% load static %}
{% block title %}About{% endblock title %}

{% block body %}
<div class="filler bg-dark"></div>

<div class="about bg-light animate fadeIn">
    <div class="container row align-items-center mx-auto mt-5 mb-5">
        <div class="col-7">
            <h1>Din Cosic</h1>
            <hr class="divider-dark pb-3">
            <p>
                I'm a young dreamer and writer, born in Zenica, Bosnia and Herzegovina on June 18th, 2001, a couple of years after the Bosnian war. 
                My early days were spent in a humble orphanage until I was adopted by a Bosnian/Aussie couple from Australia. 
                I've always been drawn to storytelling, finding comfort in the escapist nature of movies, manga, and anime, especially when life got tough. Originally, 
                I wanted to be a filmmaker, but life had other plans. My goal is to change the world by changing myself, and in my mind, this is the very first step. So, who am I? 
                I am the savior of my own universe.                
            </p>
            <div class="donate">
                <a href="https://donate.stripe.com/3csaIiaPWbBI1yMdQR" class="btn-center btn btn-dark text-light px-5 mb-3 text-center py-3 mt-2 rounded-pill" target="_blank" type="button" id="checkout-button"><b>Donate</b></a>
                
            </div>
            <ul class="navbar-nav sm-icons">
                <li class="nav-item"><a class="nav-link px-2" href="https://www.tiktok.com/@din.cosic"><i class="bi bi-tiktok"></i></a></li>
                <li class="nav-item"><a class="nav-link px-2" href="https://youtube.com/@dincosic"><i class="bi bi-youtube"></i></a></li>
                <li class="nav-item"><a class="nav-link px-2" href="https://www.instagram.com/dincosic/?hl=en"><i class="bi bi-instagram"></i></a></li>
                <li class="nav-item"><a class="nav-link px-2" href="https://twitter.com/dincosic?lang=en"><i class="bi bi-twitter-x"></i></a></li>
            </ul>
        </div>
        <div class="col d-flex">
            <img class="author" src="{% static './images/Din2.jpg' %}" alt="din cosic">
        </div>
    </div>
</div>

{% endblock body %}