{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href=" {% static './css/bootstrap.css' %} ">
    {% block custom_css %}{% endblock custom_css %}
</head>
<body>
    {% block body %}
    {% endblock body %}

    {% block custom_js %}
    {% endblock custom_js %}
    <script src="{% static './js/bootstrap.bundle.js' %}"></script>
</body>
</html>