{% extends "base.html" %}

{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}

<script src="https://kit.fontawesome.com/59e374730d.js" crossorigin="anonymous"></script>

<section class="banner-home text-light">
    <div class="container mx-auto row align-items-center">
        <div class="book-description col-7 animate fadeLeft">
            <a href="{% url 'book' 1 %}" style="color: white; text-decoration: none;"><h2 class="name h1">Book Name</h2></a>
            <hr class="divider pb-4">
            <h4 class="short-desc">Some random text</h4>
            <p class="long-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar, ligula sed cursus hendrerit, enim velit ornare lacus, 
            vel tempor purus elit eget arcu. Praesent ac ipsum nisl. Phasellus odio augue, fermentum non urna vel, volutpat finibus magna.</p>

            <a class="btn btn-light px-5 py-2 mb-5 mt-2 rounded-pill" href="{% url 'book' 1 %}" role="button" style="font-size:18px"><b>Buy Now</b></a>
        </div>
        <div class="book-image col px-3 tab-pane animate fadeRight">
            <a href="{% url 'book' 1 %}"><img src="{% static './images/book-cover.png' %}" alt="book-cover"></a>
        </div>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <h2 class='h2 text-center'>Become an affiliate</h2>
        <hr class="divider-center-dark pb-3">
        <p class="text-center">Sign up and become a part of our affiliate program, earning commissions of 50% <br> for each sale you get using your affiliate link.</p>
        <div class="row text-center mt-5">
            <div class="col">
                <i class="fa-solid fa-user-plus" style="color: #212529; font-size: 100px;"></i>
                <h5 class="h5 mt-4">Create an account</h5>
                <p>Create an account using the button <br> below and follow the steps</p>
            </div>
            <div class="col">
                <i class="fa-solid fa-link" style="color: #212529; font-size: 100px;"></i>
                <h5 class="h5 mt-4">Get your affiliate link</h5>
                <p>After creating your account, navigate <br> to the dashboard and copy your <br> affiliate link</p>
            </div>
            <div class="col">
                <i class="fa-solid fa-sack-dollar" style="color: #212529; font-size: 100px;"></i>
                <h5 class="h5 mt-4">Get 50% commission</h5>
                <p>Every time someone uses your link to <br> purchase our book, you get half <br> of the money</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a class="btn btn-dark px-5 py-2 mb-5 mt-2  rounded-pill" href="{% url 'signup' %}" role="button" style="font-size:18px"><b>Sign Up</b></a>
        </div>
    </div>
</section>

<section class="about-author bg-dark py-5 text-light">
    <div class="container mx-auto row align-items-center animate fadeIn">
        <div class="picture col d-flex">
            <img class="author" src="{% static './images/johndoe.jpg' %}" alt="din cosic">
        </div>
        <div class="col author-desc">
            <h2 class="h2">Din Cosic</h2>
            <hr class="divider pb-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a ullamcorper magna, in ullamcorper massa. Nulla condimentum elit et leo fermentum commodo. 
                Aenean rutrum et ligula semper mollis. Maecenas vehicula ultricies tempor. Mauris fringilla blandit neque sit amet pellentesque. 
                Nam sagittis orci nec ornare consectetur. Aliquam imperdiet leo nulla, in auctor purus congue ut. Nunc auctor purus eu fermentum malesuada. 
                Phasellus sapien justo, condimentum at elit a, finibus blandit odio. Pellentesque efficitur velit ut eleifend porttitor. 
                Cras efficitur id mauris at sollicitudin.
            </p>
            <a class="btn btn-light px-5 py-2 mb-5 mt-2  rounded-pill" href="{% url 'about' %}" role="button" style="font-size:18px"><b>Learn More</b></a>
        </div>
    </div>
</section>

{% include "newsletter.html" %}

{% endblock body %}