{% extends "base.html" %}

{% load static %}
{% block title %}Home{% endblock title %}

{% block body %}

<div class="banner-home">
    <div class="container mx-auto row align-items-center">
        <div class="book-description col-7 text-start">
            <h2 class="name">Book Name</h2>
            <hr class="divider pb-3">
            <h4 class="short-desc">Some random text</h4>
            <p class="long-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar, ligula sed cursus hendrerit, enim velit ornare lacus, 
               vel tempor purus elit eget arcu. Praesent ac ipsum nisl. Phasellus odio augue, fermentum non urna vel, volutpat finibus magna.</p>
            <a class="btn btn-light px-4 py-2" href="#" role="button"><b>Buy Now</b></a>
        </div>
        <div class="book-image col px-3">
            <img src="{% static './images/book-cover.png' %}" alt="book-cover">
        </div>
    </div>
</div>

{% endblock body %}