{% extends "base.html" %}

{% load static %}
{% block title %}Sign Up{% endblock title %}

{% block body %}
<div class="filler bg-dark"></div>

<link rel="stylesheet" href="{% static './fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" href=" {% static './css/forms.css' %} ">

<section class="signup my-5">
    <div class="container2">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="register-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        {{form.username}}
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        {{form.email}}
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        {{form.password1}}
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        {{form.password2}}
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required/>
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="btn btn-dark test-light px-4 py-3 rounded-pill" value="Register"/>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="{% static './images/signup-image.jpg' %}" alt="sing up image"></figure>
                <a href="{% url 'login' %}" class="signup-image-link">I am already member</a>
                {{form.errors}}
            </div>
        </div>
    </div>
</section>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Username...'; 
    form_fields[2].placeholder='Email...'; 
    form_fields[3].placeholder='Enter password...';
    form_fields[4].placeholder='Re-enter Password...';
</script>
<script src="{% static './js/jquery.min.js' %}"></script>
{% endblock body %}